
/* General css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #D0D4D5;
}

nav {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8%;
}

#nav-m ul,
#nav-r ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

ul li {
  list-style: none;
  font-size: 1.3rem;
}
ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #000000e3;
  cursor: pointer;
}

#nav-l img {
  width: 65px;
}

#nav-m li a {
  border-bottom: 3px solid transparent;
  border-radius: 2px;
  transition: all ease-in .45s;
}
#nav-m li a:hover {
  border-color: #000;
}

#nav-r ul li {
  cursor: pointer;
}


#hero {
  width: 100%;
  height: 90vh;
  padding: 0px 0px 0px 8%;
  display: flex;
  align-items: center;
}

#hero-l {
  width: 35%;
}

#hero-l p {
  font-size: 1rem;
  color: rgb(42, 42, 42);
}

#hero-l h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-block: 1.5rem;
  line-height: 3.7rem;
  font-weight: 750;
}

#hero-l button {
  border: none;
  outline: none;
  background-color: #000612;
  color: #fff;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 50px;
  border-top-left-radius: 0px;
  margin-top: 4rem;
}


#hero-r {
  height: 100%;
  width: 65%;
  /* display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
  justify-self: center; */
  padding-top: 4rem;
  margin-left: 7rem;
  white-space: nowrap;
  overflow-x: auto;
}


#hero-r .product-card {
  height: 90%;
  width: 22vw;
  display: inline-block;
  margin-right: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.product-card img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -10%;
}

::-webkit-scrollbar {
  display: none;
}

.product-card :nth-last-child(1) {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #D0D4D5;
  color: #000;
  padding: .8rem 2rem;
  border-radius: 8px 0px 8px 8px;
  font-weight: 600;
}
.product-card :nth-last-child(2) {
  position: absolute;
  right: 0;
  bottom: 2.7rem;
  background-color: #000612;
  color: #fff;
  border-radius: 8px 8px 0px 8px;
  padding: .8rem .8rem;
  font-weight: 600;
}